@charset "UTF-8";

/* Définition des polices personnalisées */

@font-face
{
	font-family: 'BallparkWeiner';
	src: url('polices/ballpark.eot') format('embedded-opentype'),
		 url('polices/ballpark.woff') format('woff'),
		 url('polices/ballpark.svg') format('svg'),
		 url('polices/ballpark.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'Dayrom';
	src : url('polices/dayrom.eot') format('embedded-opentype'),
		  url('polices/dayrom.woff') format('woff'),
		  url('polices/dayrom.svg') format('svg'),
		  url('polices/dayrom.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #ddd;
/* 	background: url('${pageContext.request.contextPath}/jsp/images/home.jpg') no-repeat; */
}

section {
	margin-bottom: 20px;
}

.well {
	background-color: #CCC;
	padding: 20px;
}

.navbar-brand {
	font-family: 'Dayrom', serif;
	font-weight: normal;
	font-size: 2.5em;
}

#site-title-police {
	font-family: 'BallparkWeiner', serif;
	font-weight: normal;
	font-size: 3.5em;
}

.centered {
	float: none;
	padding-bottom: 20px;
}

.recherche {
	width: 100%;
	margin: 0px 0px 5px 0px;
	padding: 5px 0px 5px 0px;
	background-color: #ff6600;
}

.site_name, .topo_name {
	text-decoration: none;
	color: #ff6600;
	font-weight: bold;
}

.site-detail-h1, .topo-detail-h1 {
	font-weight: bold;
}

.site-detail-h2, .site-detail-h3, .topo-detail-h2, .topo-detail-h3 {
	color: #ff6600;
	font-weight: bold;
}

.site-detail-p, .topo-detail-p, .listSite-span, .listTopo-span, .actionMessage {
	font-weight: bold;
	font-size: 1.1em;
}

.site, .topo {
	margin-bottom: 20px;
}

#btn-voir-site {
	line-height: 40px;
	font-weight: bold;
	text-transform: uppercase;
}

#connexion {
	margin-top: 60px;
}

#site-title, #topo-title {
	line-height: 1em;
	color: #ff6600;
	margin: 20px 0px 0px 0px;
}

#site-new, #topo-new {
	width: 100%;
}

.list-group .list-group-item
{
	display: inline-block;
	margin-bottom: 0;
	margin-left:-4px;
	margin-right: 0;
 	border-right-width: 0;
}

.list-group .list-group-item:first-child
{
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
}
.list-group .list-group-item:last-child
{
	border-top-right-radius:4px;
	border-bottom-left-radius:0;
	border-right-width: 1px;
}

.required {
  content:"*";
  color:red;
}

#password + .glyphicon {
  cursor: pointer;
  pointer-events: all;
}

.errors {
  color: #F00;
  background-color: #CCC;
}