@charset "UTF-8";

body {
	background-color: #ddd;
/* 	background: url('${pageContext.request.contextPath}/jsp/images/home.jpg') no-repeat; */
}

section {
	margin-bottom: 20px;
}

.well {
	background-color: #CCC;
	padding: 20px;
}

.centered {
	float: none;
	padding-bottom: 20px;
}

.recherche {
	width: 100%;
	margin: 0px 0px 5px 0px;
	padding: 5px 0px 5px 0px;
	background-color: #ff6600;
}

.site_name, .topo_name {
	text-decoration: none;
	color: #ff6600;
	font-weight: bold;
}

.site-detail-h1, .topo-detail-h1 {
	font-weight: bold;
}

.site-detail-h2, .site-detail-h3, .topo-detail-h2, .topo-detail-h3 {
	color: #ff6600;
	font-weight: bold;
}

.site-detail-p, .topo-detail-p, .listSite-span, .listTopo-span, .actionMessage {
	font-weight: bold;
	font-size: 1.1em;
}

.site, .topo {
	margin-bottom: 20px;
}

#btn-voir-site {
	line-height: 40px;
	font-weight: bold;
	text-transform: uppercase;
}

#connexion {
	margin-top: 60px;
}

#site-title, #topo-title {
	line-height: 1em;
	color: #ff6600;
	margin: 20px 0px 0px 0px;
}

#site-new, #topo-new {
	width: 100%;
}